@import "../../../src/statics/style/px2rem.scss";
@import "../../../src/statics/style/mixin.scss";


.book-info{
    display: flex;
    height: px2rem(130);
    display: flex;
    padding: px2rem(20) px2rem(16)  px2rem(16);
    overflow: hidden;
    img{
        width: px2rem(98);
        height: px2rem(130);
        margin-right: px2rem(16);
        display: block;
    }
}
.book-title{
    font-size: 18px;
    color: #333;
    line-height: px2rem(24);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-top: px2rem(5)
}
.book-author{
    color: #999;
    padding: px2rem(12) 0 px2rem(8);
    font-size: 14px;

}
.book-tag{
    font-size: 14px;
    color: #999;
    line-height: px2rem(20);
    span{
        margin-right: px2rem(5)
    }
}
.book-choice{
    display: flex;
    padding: 0 px2rem(16);
    justify-content: space-around;
    margin-top: px2rem(5);
    .am-button{
        padding: 0 px2rem(20);
            font-size: 14px;
            height: px2rem(42);
            line-height: px2rem(42)
            
    
        
    }
}

.book-desc{
    position: relative;
    margin: 0 px2rem(16);
    padding-top: px2rem(14);
    p{
        line-height: px2rem(22);
        font-size: 14px;
        color: #999;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    
    }
    .p-spe{
        display: block;
    }
    .icon{
        position: absolute;
        bottom: 0;
        right: 0;
        color: #999;
    }
}
.my-list{
    span{
        font-size:14px; 
        color: #999;
    }
    i{
        font-size:14px; 
        color: #333;
        margin-right: px2rem(10);
    }
    
}
.commit-detail{
    ul{
        padding: 0 px2rem(16);
        @include border-top;
        li{
            padding: px2rem(20) 0;
            @include border-bottom;
        }
    }
    
}
.commit-header{
    height: px2rem(24);
    position: relative;
    img{
        height: px2rem(24);
        width: px2rem(24);
        border-radius: 50%

    }
    span{
        line-height: px2rem(20);
        height:  px2rem(20);
        color: #999;
        vertical-align: middle;
        position: absolute;
        font-size: 12px;
        top: px2rem(2);
        left: px2rem(35);
    }
}
.commit-p{
    padding: px2rem(4) px2rem(16) px2rem(8) px2rem(34);
    p{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    color: #333;
    position: relative;
    line-height: px2rem(22);
    word-break: break-word;
    }
}
.spe-ul{
    flex-wrap: wrap;
    
    li{
        width: px2rem(70);
        padding:0 px2rem(16) px2rem(10) 0;
    }
    .book-name{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        display: block;
        font-size: 12px;
        line-height:px2rem(16);
        height: px2rem(16);
        text-align: left;
    }
    .book-author{
        font-size: 12px;
    }
}

.am-accordion-header{
    // padding-left: px2rem(29) !important;
    font-size: 14px !important;
}
.home{
    .info{
        position: relative;
    }
    .home-icon{
        position: absolute;
        top:px2rem(15);
        left: px2rem(9);
        z-index: 10;
    }
}
.pad{
    border: none;
    div{
        overflow: hidden;
        margin: 0 px2rem(16);
        padding: px2rem(3) 0;
        font-size: 14px;
        color: #999;
        line-height: px2rem(22);
       
    }
}
.detail-color{
    background: #fff;
}