@import "../../statics/style/px2rem.scss";
@import "../../statics/style/mixin.scss";

.book {
  border-top: 0.02rem solid #e6e6e6;
  padding-bottom: px2rem(28);
  box-sizing: border-box;
}
.store {
  padding: px2rem(40) 0;
  width: 100%;
  height: px2rem(306)-px2rem(56);
  text-align: center;
  img {
    width: px2rem(167);
  }
  p {
    font-size: 12px;
    line-height: 0.32rem;
    color: #a5a8ac;
    margin-top: px2rem(20);
  }
  .bookCity {
    width: px2rem(137);
    height: px2rem(40);
    font-size: 15px;
    background-color: #e6e7ed;
    color: #333;
    // margin-top: px2rem(58.5);
    line-height: px2rem(40);
    border-radius: 0.08rem;
    margin: px2rem(58.5) auto 0;
  }
}
