@import "../../src/statics/style/px2rem.scss";
@import "../../src/statics/style/mixin.scss";
.footer-wrap{
    padding: px2rem(24) px2rem(16) px2rem(22);
    color: #999;
    font-size: 12px;
    line-height: px2rem(20);
    text-align: center;
    background-color: #f0f0f3;
    height: px2rem(246);
  
    .bs-slogan{
        color: #333;
        font-size: 14px;
        line-height: px2rem(20);
        margin: px2rem(12) px2rem(16);
    }
}
.am-button{
    font-size: 14px;
    height: px2rem(42);
    line-height: px2rem(42)
    
}


    

